<div class="d-flex justify-content-center mt-4" data-controller="counter">
  <div class="counter">
    <span
        data-counter-target='count'
        class="badge badge-primary p-4 mr-2"><%= @restaurant_count %></span>
  </div>

  <button
        data-action="click->counter#refresh"
        class="btn btn-outline-secondary">Refresh counter</button>
</div>
